<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Mukta&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/697c02d6b4.js"
      crossorigin="anonymous"
    ></script>
    {% include "css.html" %}
    <title>What Can I Cook</title>
  </head>
  <body>
    {% block content %} {% endblock content %} {% include "js.html" %}
  </body>
</html>
